.post-edit {
    

    .container {
        background-color: #e0e0e0;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 92.9vh;
        h1 {
            text-align: center;
            color: #2a2a2a;
            font-weight: 600;
            @include type-1(40);
        }

        form {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                text-align: left;
                display: block;
                margin: 0 auto;
                padding: 10px;
                color: #2a2a2a;
                width: 70%;
                @include type-2(20);

            }
            input {
                background-color: transparent;
                border: solid 1px #2a2a2a;
                padding: 10px;
                border-radius: 2px;
                width: 70%;
                display: block;
                margin: 0 auto;
                font-weight: 500;
                @include type-1(16);
            }

            button {
                background-color: #2a2a2a;
                color: #f2f2f2;
                border: solid 1px transparent;
                padding: 10px 30px;
                cursor: pointer;
                display: block;
                text-align: center;
                transition: all 0.7s;
                margin: 30px auto 0;
                font-weight: 600;

                &:hover {
                    background-color: #f2f2f2;
                    color: #2a2a2a;
                    border: solid 1px #2a2a2a;
                }
            }
        }
    }
}   